.header .header-hover::after {
  transition-property: height;
  transition-duration: .3s;
}


.header .shop {
  transition-delay: .5s;
}

.header .shop:hover {
  transition-delay: -.5s;
}

.header .shop::after {
  transition-property: height, color, font-size;
  transition-duration: .2s, 0s, 0s, 0s;
  transition-delay: .3s;
}

.header .shop:hover::after {
  transition-delay: 0s, .2s, .2s;
}

.middle-nav .logo a {
  transition: all .2s;
}

.middle-nav .middle-list>li {
  transition: all .1s;
}

.middle-nav .panel {
  transition-property: height, border-top, box-shadow;
  transition-duration: .2s, 0s, 0s;
  transition-delay: .2s, .4s, .4s;
}

.middle-nav .panel ul {
  transition-property: left;
  transition-delay: 100000000000s;
}

.all-pro .left-li ul li {
  transition: all .1s;
}

.all-pro .pics img {
  transition: all .8s;
}

.more-pro .more-pro-im img {
  transition: all .5s;
}