.header .download::after {
  transition-property: height, box-shadow;
  transition-duration: .3s, 0s;
  transition-delay: 0s, .3s;
}

.header .download:hover::after {
  transition-delay: 0s;
}


.header .shop {
  transition-property: background-color, color;
  transition-delay: .5s;
}

.header .shop:hover {
  transition-delay: 0s;
}

.header .shop::after {
  transition-property: height, color, font-size;
  transition-duration: .2s, 0s, 0s, 0s;
  transition-delay: .3s;
}

.header .shop:hover::after {
  transition-delay: 0s, .2s, .2s;
}

.middle-nav .logo a {
  transition: left .2s;
}

.middle-nav .middle-list>li {
  transition: color .1s;
}

.middle-nav .panel {
  transition-property: height, border-top, box-shadow;
  transition-duration: .2s, 0s, 0s;
  transition-delay: .2s, .4s, .4s;
}

.middle-nav .panel ul {
  transition-property: left;
  transition-delay: 100000000000s;
}

.all-pro .left-li ul li {
  transition: color .1s;
}

.all-pro .pics img {
  transition: opacity .8s;
}

.more-pro .more-pro-im img {
  transition: box-shadow .5s;
}

.home-main .home-main-first .second-col-pics ul {
  transition-property: left;
  transition-duration: .8s;
}

.home-main .home-main-second .more li {
  transition-property: color;
  transition-duration: .3s;
}

.home-main .home-hover,
.home-main .home-son-hover>* {
  /* transition-property: top, box-shadow; */
  /* transition-duration: .2s, .2s; */
  transition-property: transform, box-shadow;
  transition-duration: .2s;
}

.home-main .more-border {
  transition-property: color, border-color;
  transition-delay: 10000000s;
}

.home-main .right-pic-li>.right-pic-all {
  transition-property: left;
  transition-delay: 10000000s;
}

.home-main .more-border:hover~.right-pic-li>.right-pic-all {
  transition-delay: 0s;
}

.home-main .home-last-pro .play {
  transition-property: border-color, background-color;
  transition-duration: .3s;
}

.side ul li {
  transition: color .3s;
}

.more .fix-service li {
  transition: color .3s;
}

.more .help-msg div a {
  transition-property: color, background-color;
  transition-duration: .3s;
}