html {
  font: 14px/1.5 Helvetica Neue,
    Helvetica,
    Arial,
    Microsoft Yahei,
    Hiragino Sans GB,
    Heiti SC,
    WenQuanYi Micro Hei,
    sans-serif;
  height: 1000px;
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
table,
th,
td {
  margin: 0;
  padding: 0;
  padding-inline-start: 0px;
}

* {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0;
}

.container {
  width: 1226px;
  height: inherit;
}

.border {
  box-shadow: 0 0 2px 0px red;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.son-float-left>* {
  float: left;
}

.son-float-right>* {
  float: right;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.box-center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.clear::after {
  content: "";
  font-size: 0;
  display: block;
  clear: both;
}

.overflow {
  overflow: hidden;
}